@font-face {
    font-family: 'MR';
    src: url(../fonts/Manrope-Regular.ttf);
}
@font-face {
    font-family: 'MM';
    src: url(../fonts/Manrope-Medium.ttf);
}
@font-face {
    font-family: 'MB';
    src: url(../fonts/Manrope-Bold.ttf);
}
@font-face {
    font-family: 'MEB';
    src: url(../fonts/Manrope-ExtraBold.ttf);
}
@font-face {
    font-family: 'MSB';
    src: url(../fonts/Manrope-SemiBold.ttf);
}
@font-face {
    font-family: 'ML';
    src: url(../fonts/Manrope-Light.ttf);
}